<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="css/style.css">
  <title>MeKaCoDe | User Management System & Kullanıcı Yönetim Sistemi</title>
</head>

<body>
  <!-- Header -->
  <header id="header">
    <div class="meka-text-effect p-0 m-0 fixed-top">
      <a href="/">
        <h1 class="meka-text-effect-title" data-text="User Management System & Kullanıcı Yönetim Sistemi">
          User Management System & Kullanıcı Yönetim Sistemi</h1>
      </a>
      <% if(link.index=="/" ){ %>
        <div class="link">
          <a href="/add-user"><i class="fa fa-user-plus">&nbsp;</i>Add New User & Yeni Kullanıcı Ekle &nbsp;</a>
        </div>
        <% } %>
          <% if(link.addUser=="/add-user" ){ %>
            <div class="link">
              <a href="/"><i class="fa fa-user-plus">&nbsp;</i>All Users List & Tüm Kullanıcılar Listesi &nbsp;</a>
            </div>
            <% } %>
              <% if(link.uptadeUser=="/update-user" ){ %>
                <div class="link">
                  <a href="/"><i class="fa fa-user-plus">&nbsp;</i>All Users List & Tüm Kullanıcılar Listesi nbsp;</a>
                </div>
                <% } %>
    </div>
  </header>